/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-main: #F5F5F5;
  --color-gray: #EBEBEB;
  --color-light-gray: #D0D5FF;
  --color-placeholder-gray: #7D7D7D;
  --color-blue: #0082C5;
  --color-dark-blue: #C4C4C4;
  --color-green-blue: #ECF8FF;
  --color-salad: #F5F6FF;
  --color-light-blue: #198DC8;
  --color-sky-blue: #F7F7FF;
  --color-orange: #FF5C00;
  --color-red: #FF0000;
  --color-light-red: #FFE6E6;
  --color-terrakot: #FFA134;
  --color-pagination: #EEECEA;
  --color-hamburder-line: #E7E7E7;
}
