/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-main: #F5F5F5;
  --color-gray: #EBEBEB;
  --color-light-gray: #D0D5FF;
  --color-placeholder-gray: #7D7D7D;
  --color-blue: #0082C5;
  --color-orange: #FF5C00;
  --color-red: #FF0000;
  --color-light-red: #FFE6E6;
  --color-terrakot: #FFA134;
}
