*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  color: var(--color-black);
}
html{
  &.fix{
    overflow-y: hidden;
    height: 100%;
  }
}
body{
  background: var(--color-main);
  &.fix{
    overflow-y: hidden;
    height: 100%;
  }
}
picture{
  display: block;
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
ul, menu{
  list-style: none;
}

b,i,u,strong{
  font-size: inherit;
  color: inherit;
}
.attentive{
  color: var(--color-red);
}

a{
  display: inline-block;
  text-decoration: unset;
  color: inherit;
  &:focus, &:active{
    outline: none;
  }
}
.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

//buttons
button, .btn{
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  &:focus, &:active{
    outline: none;
  }
}
.btn-blue-rounded{
  display: flex;
  height: 48px;
  width: max-content;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  &:disabled{
    opacity: 0.3;
  }
}
.btn-transparent-rounded{
  display: flex;
  height: 48px;
  width: max-content;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
}
.btn-transparent-blue-rounded{
  display: flex;
  height: 48px;
  width: max-content;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--color-blue);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-blue);
}
.btn-arrow-rounded{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  position: absolute;
  z-index: 2;
  transition: border 0.5s;
  border: 1px solid transparent;
}
.slider-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-white);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  img{

  }
  &.left{
    left: 0;
    transform: rotate(-180deg) translateY(-50%);
    img{
      top: -.5px;
      right: -1px;
    }
  }
  &.right{
    right: 0;
    img{
      top: 0.5px;
      left: 1px;
    }
  }

}


//Accordion
.accordion-el{
  .accordion-content{
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &.active{
    >.accordion-content{
      max-height: 100%;
    }
  }
}

//Triggers
.arrow-trigger{
  .accordion-trigger{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(50%, -50%);
    img{
      display: block;
      position: absolute;
      -moz-transition: transform .5s ease;
      -webkit-transition: transform .5s ease;
      -o-transition: transform .5s ease;
      transition: transform .5s ease;
    }
  }
}

.plus-trigger{
  .accordion-trigger{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(50%, -50%);
    span{
      display: block;
      border-radius: 3px;
      background: var(--color-blue);
      position: absolute;
      -moz-transition: all .25s ease;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      &:first-child{
        margin: 0 10%;
        width: 80%;
        height: 3px;
        /*- half the height*/
        top: calc(50% - 1.5px);
      }
      &:last-child{
        margin: 10% 0;
        width: 3px;
        height: 80%;
        /*- half the width*/
        left: calc(50% - 1.5px);
      }
    }
  }
}
.active{
  &.arrow-trigger{
   >.accordion-trigger {
     img {
       -moz-transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
     }
   }
  }
  &.plus-trigger{
    >.accordion-trigger{
      span{
        &:first-child{}
        &:last-child{
          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }
      }
    }
  }
}




//Inputs
.input, .textarea, input, textarea{
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:active, &:focus,&:hover{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder{
    color: var(--color-placeholder-gray);
  }
}
.input-field{
  width: 100%;
  padding: 7px 10px;
  border: 0;
  border-bottom: 1px solid var(--color-light-gray);
  font-size: 16px;
  line-height: 20px;
}


////////
//Blocks
////////

//Breadcrumbs
.breadcrumbs{
  padding: 15px 0 30px;
  a, span{
    font-size: 12px;
    line-height: 11px;
    color: var(--color-placeholder-gray);
  }
}

//Pagination
.pagination-block{
  display: flex;
  column-gap: 5px;
  li{
    width: 40px;
    height: 40px;
    padding: 11px 0 12px;
    background: var(--color-white);
    border: 1px solid #EEECEA;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    a{
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 130%;
    }
    &.active{
      background: var(--color-green-blue);
      border: 1px solid var(--color-blue);
    }
  }
}

//Question block
.questions-block-wrapper{
  background: var(--color-white);
  margin: 50px 0 0;
  .questions-block{
    display: flex;
    padding: 0 20px;
    align-items: center;
    column-gap: 30px;
    .left-col{
      margin: -35px 0 0;
      width: 500px;
      .block-main-image{
        width: 100%;
      }
    }
    .right-col{
      width: calc(100% - 500px - 30px);
      .block-title{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
      }
      .block-text{
        margin: 0 0 30px;
        font-size: 16px;
        line-height: 120%;
      }
      #question-form{
        .form-fields{
          display: flex;
          align-items: center;
          column-gap: 20px;
          input{
            width: 210px;
            padding: 7px 10px;
            border: 0;
            border-bottom: 1px solid var(--color-light-gray);
            font-size: 16px;
            line-height: 20px;
          }
        }
        .btn{
          margin: 40px 0 0;
        }
      }
    }
  }
}

//Show-more-block
.show-more-block{
  .content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 220px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    &:before{
      content: '';
      width: 100%;
      height: 135px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-main) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    p{
      font-size: 16px;
      line-height: 20px;
    }
    &.active{
      max-height: 1000px;
      transition: max-height 1s ease-in-out;
      &:before{
        height: 0;
      }
    }
  }
  .show-more-btn{
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    z-index: 1;
    img{
      right: 0;
      top: 2px;
    }
    &.active{
      transform: translateX(-50%) rotate(180deg);
      bottom: -45px;
    }
  }
}


////////
//Cards
////////

//Hot proposition card
.hot-propositions-el{
  display: flex;
  flex-direction: column;
  width: 625px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  overflow: hidden;
  .top-part{
    .block-main-image{
      width: 100%;
      height: 340px;
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .timer{
      display: flex;
      column-gap: 8px;
      align-items: center;
      padding: 10px;
      background: var(--color-orange);
      border-radius: 6px;
      color: var(--color-white);
      position: absolute;
      top: 30px;
      left: 30px;
      .icon{
        top: -1px;
      }
      .info-part{
        display: flex;
        flex-direction: column;
        .value{
          font-weight: bold;
          font-size: 16px;
          line-height: 14px;
          color: var(--color-white);
        }
        .name{
          font-size: 10px;
          line-height: 14px;
          color: var(--color-white);
        }
      }
    }
    .description{
      width: calc(100% - 60px);
      position: absolute;
      bottom: 30px;
      left: 30px;
      .el-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: var(--color-white);
      }
      .el-text{
        margin: 8px 0 0;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
      }
    }
  }
  .bottom-part{
    display: flex;
    padding: 12px 30px 30px;
    justify-content: space-between;
    column-gap: 25px;
    height: 100%;
    background: var(--color-white);
    .left-col{
      display: flex;
      flex-direction: column;
      width: 100%;
      .top-row, .mid-row{
        display: flex;
        justify-content: space-between;
        padding: 13px 0;
        border-bottom: 1px solid var(--color-light-gray);
        .info-wrapper{
          display: flex;
          align-items: center;
          column-gap: 7px;
          .info{
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
          }
          .sale{
            padding: 4px 5px;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            background: var(--color-light-red);
            color: red;
          }
          .link{
            text-decoration-line: underline;
            color: var(--color-blue);
          }
        }
      }
      .bottom-row{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0 0;
        margin: auto 0 0;
        .old-price{
          font-size: 12px;
          line-height: 16px;
          text-decoration-line: line-through;
          color: var(--color-placeholder-gray);
        }
        .new-price{
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
        }
        .economy{
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          color: var(--color-red);
        }
        .btn{
          margin: 20px 0 0;
          width: 166px;
        }
      }
    }
    .right-col{
      border: 1px solid var(--color-terrakot);
      box-sizing: border-box;
      border-radius: 6px;
      padding: 0 0 8px;
      height: max-content;
      min-width: 240px;
      width: 240px;
      .block-main-image{
        width: 100%;
        height: 100px;
      }
      .label{
        display: flex;
        align-items: center;
        padding: 6px 8px;
        column-gap: 6px;
        border-radius: 6px 0px;
        background: var(--color-terrakot);
        position: absolute;
        top: 0;
        left: 0;
        img{

        }
        span{
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          color: var(--color-white);
        }
      }
      .gift-name{
        padding: 0 10px;
        margin: 0 0 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
      .gift-attr-list{
        .list-el{
          font-size: 10px;
          line-height: 14px;
          padding: 0 10px;
        }
      }
    }
  }
  &.present{
    .bottom-part{
      .left-col{
        .top-row, .mid-row{
          .info-wrapper{
            span{
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

//Promotion card
.promotions-el{
  display: flex;
  flex-direction: column;
  min-width: 625px;
  width: 625px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  overflow: hidden;
  &.passed{
    filter: grayscale(1);
  }
  .block-main-image{
    width: 100%;
    height: 380px;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.8) 61.46%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .label{
    position: absolute;
    &.passed-label{
      display: flex;
      padding: 15px 20px;
      background: var(--color-white);
      border-radius: 6px;
      color: var(--color-placeholder-gray);
    }
    &.calendar-label{
      display: flex;
      column-gap: 16px;
      align-items: center;
      padding: 10px;
      background: var(--color-orange);
      border-radius: 6px;
      color: var(--color-white);
      .icon{}
      .info-part{
        font-size: 16px;
        line-height: 14px;
        color: var(--color-white);
        .date{
          font-weight: bold;
          font-size: 16px;
          line-height: 14px;
          color: var(--color-white);
        }
      }
    }
    &.pos-top-left{
      top: 30px;
      left: 30px;
    }
    .pos-top-right{
      top: 30px;
      right: 30px;
    }
    .pos-bottom-left{
      bottom: 30px;
      left: 30px;
    }
    .pos-bottom-right{
      bottom: 30px;
      right: 30px;
    }
  }
  .description{
    width: calc(100% - 60px);
    position: absolute;
    bottom: 30px;
    left: 30px;
    .el-title{
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: var(--color-white);
    }
    .el-text{
      margin: 8px 0 0;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-white);
    }
    .buttons-block{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 0 0;
      .btn{
        width: 185px;
      }
      .link{
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        .icon{
          top: 0.5px;
        }
      }
    }
  }
}

//Equipment card
.equipment-card{
  width: 407px;
  min-width: 407px;
  height: 480px;
  border-radius: 14px;
  background: var(--color-white);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  .equipment-image-part{
    height: 250px;
    width: 100%;
    .image{
      width: 100%;
      height: 100%;
    }
    .label{
      height: max-content;
      position: absolute;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      &.pos-top-left{
        top: 20px;
        left: 20px;
      }
      &.pos-top-right{
        top: 20px;
        right: 20px;
      }
      &.pos-bottom-left{
        bottom: 20px;
        left: 20px;
      }
      &.pos-bottom-right{
        bottom: 20px;
        right: 20px;
      }
      &.promo-label{
        padding: 6px 12px;
        background: var(--color-orange);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        span{
          font-weight: normal;
          color: inherit;
        }
      }
      &.speed-label{
        background: var(--color-white);
        text-align: center;
        padding: 6px 12px;
        border-radius: 6px;
        img{
          margin: 0 0 2px;
          width: 20px;
          height: 20px;
        }
        span{
          display: block;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: var(--color-blue);
        }
      }
    }
  }
  .equipment-description-part{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    .equipment-name{
      margin: 0 0 5px;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
    }
    .price-row{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .price-col{
        display: flex;
        flex-direction: column;
        .old-price{
          font-size: 10px;
          line-height: 120%;
        }
        .actual-price{
          font-size: 16px;
          line-height: 120%;
        }
      }
    }
    .button-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn{
        width: 175px;
      }
    }
    .cash-back-row{
      display: flex;
      align-items: center;
      img{
        width: 24px;
        height: 24px;
        margin: 0 8px 0 0;
      }
      span{
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: var(--color-orange);
      }
    }
  }
}

//Channel card
.channel-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc((100% - 20px * 5) / 6);
  height: 155px;
  padding: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 6px;
  .logo{
    margin: 0 0 10px;
    width: 150px;
    height: 85px;
    img{

    }
  }
  .name{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
  .label{
    position: absolute;
    z-index: 2;
    &.pos-top-right{
      top: 10px;
      right: 10px;
    }
    &.hd-label{
      width: 30px;
      height: 20px;
    }
  }
}
