*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  color: var(--color-black);
}
html{
  &.fix{
    overflow-y: hidden;
    height: 100%;
  }
}
body{
  background: var(--color-main);
  &.fix{
    overflow-y: hidden;
    height: 100%;
  }
}
picture{
  display: block;
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
ul, menu{
  list-style: none;
}

b,i,u,strong{
  font-size: inherit;
  color: inherit;
}
.attentive{
  color: var(--color-red);
}

a{
  display: inline-block;
  text-decoration: unset;
  color: inherit;
  &:focus, &:active{
    outline: none;
  }
}
.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

//buttons
button, .btn{
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  &:focus, &:active{
    outline: none;
  }
}
.btn-blue-rounded{
  display: flex;
  height: 48px;
  width: max-content;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  &:disabled{
    opacity: 0.3;
  }
}
.btn-transparent-rounded{
  display: flex;
  height: 48px;
  width: max-content;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
}
.btn-transparent-blue-rounded{
  display: flex;
  height: 48px;
  width: max-content;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--color-blue);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-blue);
}
.btn-arrow-rounded{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  position: absolute;
  z-index: 2;
  transition: border 0.5s;
  border: 1px solid transparent;
}
.slider-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-white);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  img{

  }
  &.left{
    left: 0;
    transform: rotate(-180deg) translateY(-50%);
    img{
      top: -.5px;
      right: -2px;
    }
  }
  &.right{
    right: 0;
    img{
      top: 0.5px;
      left: 2px;
    }
  }

}


//Inputs
.input, .textarea, input, textarea{
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:active, &:focus,&:hover{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder{
    color: var(--color-placeholder-gray);
  }
}
.input-field{
  width: 100%;
  padding: 7px 10px;
  border: 0;
  border-bottom: 1px solid var(--color-light-gray);
  font-size: 16px;
  line-height: 20px;
}

//Breadcrumbs
.breadcrumbs{
  padding: 15px 0 30px;
  a, span{
    font-size: 12px;
    line-height: 11px;
    color: var(--color-placeholder-gray);
  }
}

//Promotion card
.promotions-el{
  display: flex;
  flex-direction: column;
  width: 625px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  overflow: hidden;
  .block-main-image{
    width: 100%;
    height: 380px;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.8) 61.46%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .calendar{
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 10px;
    background: var(--color-orange);
    border-radius: 6px;
    color: var(--color-white);
    position: absolute;
    top: 30px;
    left: 30px;
    .icon{}
    .info-part{
      font-size: 16px;
      line-height: 14px;
      color: var(--color-white);
      .date{
        font-weight: bold;
        font-size: 16px;
        line-height: 14px;
        color: var(--color-white);
      }
    }
  }
  .description{
    width: calc(100% - 60px);
    position: absolute;
    bottom: 30px;
    left: 30px;
    .el-title{
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: var(--color-white);
    }
    .el-text{
      margin: 8px 0 0;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-white);
    }
    .buttons-block{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 0 0;
      .btn{
        width: 185px;
      }
      .link{
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        .icon{
          top: 0.5px;
        }
      }
    }
  }
}

//Pagination
.pagination-block{
  display: flex;
  column-gap: 5px;
  li{
    width: 40px;
    height: 40px;
    padding: 11px 0 12px;
    background: var(--color-white);
    border: 1px solid #EEECEA;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    a{
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 130%;
    }
    &.active{
      background: var(--color-green-blue);
      border: 1px solid var(--color-blue);
    }
  }
}

//question block
.questions-block-wrapper{
  background: var(--color-white);
  margin: 50px 0 0;
  .questions-block{
    display: flex;
    padding: 0 20px;
    align-items: center;
    column-gap: 30px;
    .left-col{
      margin: -35px 0 0;
      width: 500px;
      .block-main-image{
        width: 100%;
      }
    }
    .right-col{
      width: calc(100% - 500px - 30px);
      .block-title{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
      }
      .block-text{
        margin: 0 0 30px;
        font-size: 16px;
        line-height: 120%;
      }
      #question-form{
        .form-fields{
          display: flex;
          align-items: center;
          column-gap: 20px;
          input{
            width: 210px;
            padding: 7px 10px;
            border: 0;
            border-bottom: 1px solid var(--color-light-gray);
            font-size: 16px;
            line-height: 20px;
          }
        }
        .btn{
          margin: 40px 0 0;
        }
      }
    }
  }
}
