.documents-page{
  padding: 0 0 100px;
  .page-title{
    padding: 0 0 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
  }
  .documents-list{
    padding: 15px 0 0;
    .list-block{
      &:not(:last-child){
        margin: 0 0 30px;
      }
      .block-title{
        margin: 0 0 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
      }
      .doc-list{
        .list-el{
          &:not(:last-child){
            margin: 0 0 10px;
          }
          .document-el{
            display: block;
            padding: 25px 30px 25px 70px;
            background: var(--color-white);
            border-radius: 14px;
            font-weight: bold;
            font-size: 16px;
            line-height: 120%;
            &:before{
              content: url("../images/svg/common/document-icon.svg");
              width: 28px;
              height: 28px;
              position: absolute;
              top: 20px;
              left: 30px;
            }
          }
        }
      }
    }
  }
}
