.home{
  padding: 0 0 20px;
  .top-banner-block{
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px;
    margin: 30px auto 0;
    height: 420px;
    &__left-col{
      width: 845px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
      border-radius: 14px;
      overflow: hidden;
      picture{
        &:after{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        }
      }
      .banner-content{
        width: 100%;
        padding: 0 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .title{
          font-weight: bold;
          font-size: 40px;
          line-height: 52px;
          text-align: center;
          color: var(--color-white);
        }
        .btn{
          margin: 40px auto 0;
        }
      }
    }
    &__right-col{
      width: 410px;
      height: 100%;
      padding: 15px 20px 15px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 30px;
      background: linear-gradient(rgb(196, 234, 255) 0px, rgb(255, 255, 255) 33.85%);
      border-radius: 14px;
      overflow: hidden;
      &:before{
        content: '';
        background: url("../images/svg/home/clouds.svg") no-repeat center center/100% 100%;
        width: 100%;
        height: 230px;
        position: absolute;
        top: -72px;
        left: 50%;
        transform: translateX(-50%);

      }
      &:after{
        content: '';
        width: 100%;
        height: 150px;
        background: url("../images/svg/home/city.svg") no-repeat center center/100% 100%;
        position: absolute;
        bottom: -7px;
        left: -14px;
      }
      .stage1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 20px;
        z-index: 2;
        .form-title{
          margin: 0 0 16px;
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          line-height: 120%;
        }
        .form-text{
          text-align: center;
          font-size: 12px;
          line-height: 120%;
        }
        .check-availability-form{
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;
          margin: 20px 0 0;
          .input-wrapper{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            width: 100%;
            .input-field-label{
              &[name='street']{
                width: 100%;
              }
              &[name='house']{
                width: 50%;
              }
            }

          }
          .btn{
            margin: 40px 0 0;
          }
        }
      }
      .stage2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 2;
        .result-icon{
          margin: 0 0 10px;
          width: 24px;
          height: 24px;
        }
        .form-title{
          margin: 0 0 8px;
          font-weight: bold;
          font-size: 16px;
          line-height: 120%;
          text-align: center;
        }
        .form-subtitle{
          margin: 0 0 20px;
          font-weight: normal;
          font-size: 16px;
          line-height: 120%;
          text-align: center;
        }
        .form-text{
          text-align: center;
          font-size: 12px;
          line-height: 120%;
        }
        .personal-data-form{
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px;
          margin: 20px 0 0;
          width: 100%;
          .input-wrapper{
            display: flex;
            justify-content: center;
            column-gap: 20px;
            width: 100%;
            margin: 0 0 20px;
            .input-field-label{
              width: 165px;
            }
          }
          .link{
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            text-decoration-line: underline;
            color: var(--color-blue);
          }
        }
        .info{
          margin: auto 0 0 0;
          background: var(--color-white);
          border-radius: 6px;
          padding: 10px 6px;
          font-size: 9px;
          line-height: 120%;
          text-align: center;
          color: var(--color-placeholder-gray);
        }
      }
      .stage3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 2;
        .result-icon{
          margin: 0 0 20px;
          width: 64px;
          height: 64px;
        }
        .form-title{
          margin: 0 0 8px;
          font-weight: bold;
          font-size: 16px;
          line-height: 120%;
          text-align: center;
        }
        .form-subtitle{
          font-weight: normal;
          font-size: 16px;
          line-height: 120%;
          text-align: center;
        }
        .data-list{
          margin: 30px 0 0;
          text-align: center;
          .data-list-el{
            &:not(:last-child){
              margin: 0 0 10px;
            }
            .name{
              font-size: 16px;
              line-height: 120%;
            }
            .value{
              font-weight: bold;
              font-size: 16px;
              line-height: 120%;
            }
          }
        }

      }
    }
  }
  .hot-propositions-block{
    padding: 20px 0;
    .block-title{
      margin: 0 0 30px;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
    }
    .hot-propositions-list{
      display: flex;
      column-gap: 30px;

    }
  }
  .promotions-block{
    padding: 20px 0;
    .title-block{
      display: flex;
      margin: 0 0 30px;
      align-items: center;
      justify-content: space-between;
      .block-title{
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
      }
      .tabs-selector{
        display: flex;
        column-gap: 30px;
        padding: 0 0 10px;
        border-bottom: 2px solid var(--color-light-gray);
        .selector{
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          &.active{
            color: var(--color-blue);
            &:after{
              content: '';
              width: 100%;
              height: 2px;
              background: var(--color-blue);
              position: absolute;
              bottom: -12px;
              left: 0;
            }
          }
        }
      }
    }
    .tabs-blocks{
      .promotions-list{
        &.active{
          display: flex;
        }
        display: none;
        column-gap: 30px;
      }
    }

  }
  .single-promo-block{
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 80px 0 50px;
    .left-col{
      width: calc(100% - 555px);
      .period{
        display: inline-block;
        padding: 8px 10px;
        margin: 0 0 20px;
        background: var(--color-light-red);
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: var(--color-red);
      }
      .block-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
      }
      .content{
        margin: 20px 0 0;
        font-size: 16px;
        line-height: 20px;
      }
      .btn{
        margin: 60px 0 0;
      }
    }
    .right-col{
      width: 555px;
    }
  }
  .full-width-promo-block{
    padding: 50px 0;
    .block-main-image{
      width: 100%;
      height: 490px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
      img{
        object-position: center 14%;
      }
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .content{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .block-title{
        margin: 0 0 20px;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: var(--color-white);
      }
      .description{
        margin: 0 0 60px;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
      }
      .btn{
        margin: 0 auto;
      }
    }
  }
  .info-block{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
    .left-col{
      width: calc(100% - 805px - 30px);
      .block-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
      }
      .features-list{
        margin: 20px 0 0;
        .list-el{
          padding: 0 0 0 35px;
          font-size: 16px;
          line-height: 34px;
          &:not(:last-child){
            margin: 0 0 10px 0;
          }
          &:before{
            content: url(../images/svg/common/checked-green.svg);
            margin: 0 10px 0 0;
            position: absolute;
            top: 7px;
            left: 0;
          }
        }
      }
      .button-block{
        display: flex;
        column-gap: 15px;
        margin: 50px 0 0;
        .btn{}
      }
      .tech-list{
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        gap: 8px;
        margin: 30px 0 0;
        img{
          width: 110px;
          height: 30px;
        }
      }
    }
    .right-col{
      .block-main-image{
        width: 805px;
        height: 440px;
      }
    }
  }
  .activity-news-block{
    padding: 50px 0 30px;
    >.block-title{
      margin: 0 0 30px;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
    }
    .content{
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      >.left-col{
        width: calc((100% - 30px) / 2);
        padding: 30px;
        background: var(--color-blue);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
        border-radius: 14px;
        .block-title{
          margin: 0 0 30px;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          color: var(--color-white);
        }
        .activity-list{
          .activity-list-el{
            padding: 24px 30px;
            background: rgba(255, 255, 255, 0.07);
            border-radius: 40px;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            line-height: 130%;
            color: var(--color-white);
            &:not(:last-child){
              margin: 0 0 10px;
            }
            .time{
              margin: 0 16px 0 0;
              font-size: 16px;
              line-height: 130%;
              color: var(--color-white);
            }
            .info{
              font-size: 16px;
              line-height: 130%;
              color: var(--color-white);
              b{}
            }
          }
        }
      }
      >.right-col{
        width: calc((100% - 30px) / 2);
        padding: 30px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
        border-radius: 14px;
        background: var(--color-white);
        .title-block{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 0 30px;
          .block-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
          }
          .show-more-link{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: var(--color-blue);
          }
        }
        .news-list{
          .news-list-el{
            display: flex;
            column-gap: 30px;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px 20px 25px;
            border: 1px solid var(--color-light-gray);
            border-radius: 6px;
            &:not(:last-child){
              margin: 0 0 20px;
            }

            .left-col{
              width: 425px;
              .title{
                height: 40px;
                margin: 0 0 15px;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
              .link{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: var(--color-blue);
              }
            }
            .right-col{
              display: flex;
              flex-direction: column;
              align-items: center;
              .day{
                font-weight: bold;
                font-size: 28px;
                line-height: 28px;
                color: var(--color-blue);
              }
              .month{
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
  .advantages-block{
    padding: 50px 0 20px;
    .title-block{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
    }
    .advantages-list{
      display: flex;
      margin: 50px 0 0;
      justify-content: space-evenly;
      .list-el{
        display: flex;
        flex-direction: column;
        align-items: center;
        .image{
          display: flex;
          width: 126px;
          height: 126px;
          margin: 0 0 15px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: var(--color-white);
          filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.08));
          img{
            width: 46px;
            height: 46px;
          }
        }
        .text{
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .show-more-block{
    padding: 20px 0;
  }
}



