.instructions-payment-page{
  padding: 0 0 100px;
  .page-title{
    padding: 0 0 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
  }
  .tab-selector-block{
    padding: 0 0 30px;
    .tab-selector-list{
      margin: 0 auto;
    }
  }
  .tab-content{}
  p{
    margin: 0 0 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
  }
  .list{
    text-align: center;
    li{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      &:not(:last-child){
        margin: 0 0 30px;
      }
      img{
        text-align: center;
        max-width: 995px;
      }
      &::marker{
        position: relative;
      }
    }
  }
}
