.vacancies-page{
  padding: 0 0 85px;
  .top-banner-block{
    padding: 0 0 15px;
    .block-main-image{
      width: 100%;
      height: 400px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
      border-radius: 14px;
      overflow: hidden;
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .block-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      row-gap: 40px;
      position: absolute;
      top: 0;
      left: 0;
      .page-title{
        font-weight: bold;
        font-size: 46px;
        line-height: 52px;
        color: var(--color-white);
      }
      .btn{}
    }
  }
  .brief-info-block{
    padding: 15px 0;
    .block-text{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .vacancies-list-block{
    padding: 15px 0;
    .vacancies-list-el{
        background: var(--color-white);
        border-radius: 14px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
        &:not(:last-child){
          margin: 0 0 10px;
        }
        .vacancy-title{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 36px 110px 36px 36px;
          cursor: pointer;
          column-gap: 20px;
          .name{
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
          }
          .details{
            display: flex;
            align-items: center;
            column-gap: 40px;
            .cost{
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
            }
            .date{
              font-size: 16px;
              line-height: 20px;
              color: var(--color-placeholder-gray);
            }
          }
          .accordion-trigger{
            img{}
          }
        }
        .vacancy-content{
          padding: 0 30px;
          .requirements{
            &:not(:last-child){
              margin: 0 0 30px;
            }
            .list-title{
              margin: 0 0 15px;
              font-size: 20px;
              line-height: 20px;
            }
            .requirements-list{
              li{
                display: flex;
                &:not(:last-child){
                  margin: 0 0 3px;
                }
                &:before{
                  content: '';
                  width: 5px;
                  height: 5px;
                  margin: 0 10px 0 0;
                  background: var(--color-black);
                  border-radius: 50%;
                  position: relative;
                  top: 7px;
                }
              }
            }
          }
        }
        &.active{
          .accordion-title{
            .accordion-trigger{
              img{}
            }
          }
          .accordion-content{
            padding: 0 36px 36px;
            p{
              &:not(:last-child){}
            }
          }
        }
      }
  }

  .pop-up-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 299;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .pop-up{
      width: 660px;
      min-height: 515px;
      max-height: 90%;
      overflow-y: auto;
      .stage1{
        height: 100%;
        padding: 35px 110px 40px;
        background: var(--color-white);
        border-radius: 14px;
        .pop-up-title{
          margin: 0 0 20px;
          font-weight: bold;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
        }
        .pop-up-form{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 0 15px;
          justify-content: center;
          row-gap: 30px;
          column-gap: 20px;
          .input-field{
            &[name='tel'],&[name='name']{
              width: calc((100% - 20px) / 2);
            }
          }
          label{
            padding: 30px;
            width: 100%;
            background: var(--color-green-blue);
            border-radius: 10px;
            cursor: pointer;
            span{
              display: block;
              width: 100%;
              &.input-file-button{
                margin: 0 0 20px;
                font-weight: bold;
                font-size: 16px;
                line-height: 15px;
                color: var(--color-blue);
                text-align: center;
                text-decoration-line: underline;
              }
              &.input-file-info{
                font-weight: normal;
                font-size: 12px;
                line-height: 11px;
                text-align: center;
                color: var(--color-placeholder-gray);
              }
            }
          }
        }
        .btn{}
      }
      .stage2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: inherit;
        padding: 45px;
        background: var(--color-white);
        border-radius: 14px;
        .pop-up-icon{
          margin: 0 0 20px;
          width: 64px;
          height: 64px;
        }
        .pop-up-title{
          margin: 0 0 10px;
          font-weight: bold;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
        }
        .pop-up-text{
          width: 300px;
          font-size: 16px;
          line-height: 120%;
          text-align: center;
        }
      }
      .close-btn{
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}
