.iptv-page{
  .iptv-tech-info-block {
    flex-direction: column-reverse;
    row-gap: 30px;
    .left-col{
      width: 100%;
      .image{
        width: 550px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .right-col{
      width: 100%;
      .page-title{}
      .title-sub-text{}
      .list-title{}
      .features-list{
        .list-el{
          &:before {}
        }
      }
      .btn{}
    }
  }
  .iptv-content-info-block-wrapper{
    padding: 40px 0;
    .iptv-content-info-block{
      display: flex;
      align-items: center;
      .left-col{
        width: 100%;
        .block-title{}
        .block-text{}
        .content-info-list{
          .content-info-el{
            &:before {}
          }
        }
        .btn{}
      }
      .right-col{
        .block-main-image{
        }
      }
    }
  }
  .iptv-device-info-block{
    flex-direction: column-reverse;
    row-gap: 20px;
    padding: 60px 0 30px;
    .right-col{
      width: 100%;
      .block-text{}
      .block-title{}
      .device-info-list {
        .device-info-el {
          &:before {}
        }
      }
      .button-block{
        .info{}
      }
    }
    .left-col{
      width: 625px;
    }
  }
  .instructions-block{
    padding: 30px 0;
    .block-title{}
    .block-text{}
    .instructions-list{
      .instructions-list-el{
        height: 250px;
        width: calc((100% - 30px) / 2);
        .link{
          img{}
        }
      }
    }
  }
  .mobile-apps-block{
    padding: 30px 0 50px;
    .block-title{}
    .block-text{}
    .button-block{
      .link{}
    }
  }
  .questions-block-wrapper{}
}
